.section {
	background-color: linear-gradient(to top, rgba(0, 0, 0, 0.664), transparent);
	position: relative;
	top: -17dvh;
}

.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10dvh;
}