.wrapper {
	position: relative;
	width: 100%;
	height: 200dvh;
	overflow: hidden;
}

.bg {
	filter: blur(2px);
}

.bgBack {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100dvh;
	z-index: -3;
}

.bgMid {
	position: absolute;
	top: 30dvh;
	left: 0;
	width: 100%;
	height: 120dvh;
	z-index: -2;
}

.bgFront {
	position: absolute;
	top: 55dvh;
	left: 0;
	width: 100%;
	height: 90dvh;
	z-index: -1;
}
