.wrapper {
	position: relative;
	width: 100%;
	height: 150dvh;
	// max-height: 1500px;
	overflow: hidden;

	.bgBack {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100dvh;
		z-index: -3;
	}

	.bgMid {
		position: absolute;
		top: 35dvh;
		left: 0;
		width: 100%;
		height: 150dvh;
		z-index: -2;
		background: linear-gradient(to top, rgba(0, 0, 0, 0.664), transparent);
	}

	.bgFrontContainer {
		position: absolute;
		top: 60dvh;
		left: 0;
		width: 100%;
		height: 120dvh;
		z-index: -1;
		background: linear-gradient(to top, var(--background), transparent);

		.bgFront {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		.shadow {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			pointer-events: none;
			z-index: 2;

			background: linear-gradient(to top, var(--background), transparent)
		}
	}

	.bgBack,
	.bgMid,
	.bgFront {
		object-fit: cover;
		transition: transform 0.4s linear;
	}

	.intro {
		height: 35dvh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.content {
			width: clamp(320px, 90%, 800px);
			.title {
				font-size: clamp(32px, 5vw, 64px);
				line-height: 1.1;
				text-wrap: balance;
				font-family: 'Cormorant Garamond';
				margin-bottom: 10px;
			}
		}
	}
}
