.button {
	display: flex;
	justify-content: center;
	padding: 10px 15px;
	align-items: center;
	gap: 5px;
	border-radius: 8px;
	font-weight: bold;
    cursor: pointer;
}


.primary {
	color: var(--button-text-color);
	background-color: var(--button-bg-color);
}

.textOnly {
	color: var(--button-text-color);
	background-color: transparent;
	border: none;
	padding: 0 !important;
	&.accent {
		color: var(--accent);
	}
}

.defaultColor {
	--button-text-color: var(--foreground);
	--button-bg-color: var(--background);
}

.accent {
	--button-text-color: var(--foreground);
	--button-bg-color: var(--accent);
}
