@import 'tailwindcss';
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,regular,500,600,700,300italic,italic,500italic,600italic,700italic);

:root {
	--background: #0B1D26;
	--foreground: #ffffff;
	--accent: #FBD784;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Poppins, Arial, Helvetica, sans-serif;
}
