.footer {
	height: 250px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 40px;
    padding-bottom: 40px;
	box-sizing: content-box;

	.info {
		min-width: 300px;
		height: 100%;
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		@media (max-width: 800px) {
			width: 100%;
		}
		.title {
			font-family: 'Cormorant Garamond';
			font-size: clamp(22px, 1.5vw, 26px);
		}
		.description {
			margin-top: 23px;
			font-weight: 500;
			font-size: clamp(16px, 1vw, 18px);
			line-height: 1.5;
			opacity: 0.85;
			max-width: 300px;
		}
		.text {
			font-weight: 500;
			font-size: clamp(12px, 1vw, 16px);
			line-height: 1.5;
			opacity: 0.65;
		}
	}
	.navigate {
		width: 15%;
		min-width: 150px;
		font-size: clamp(16px, 1vw, 20px);
        @media (max-width: 500px) {
			width: 100%;
            min-width: 300px;
		}
		.title {
			color: var(--accent);
		}
		.linkList {
			margin-top: 20px;
			display: flex;
			flex-direction: column;
			gap: 10px;
		}
	}
}
